---
# for details on style options see
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

# Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 8
# AlignEscapedNewlinesLeft: false
# AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
# AllowShortBlocksOnASingleLine: false
# AllowShortIfStatementsOnASingleLine: false
# AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
# AlwaysBreakBeforeMultilineStrings: false
# BreakBeforeBinaryOperators: false
# BreakBeforeTernaryOperators: true
# BreakConstructorInitializersBeforeComma: false
BinPackParameters: false
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: true
# IndentCaseLabels: false
# IndentWrappedFunctionNames: false
# IndentFunctionDeclarationAfterType: false
# MaxEmptyLinesToKeep: 1
# KeepEmptyLinesAtTheStartOfBlocks: true
# NamespaceIndentation: None
# ObjCSpaceAfterProperty: false
# ObjCSpaceBeforeProtocolList: true
PenaltyBreakBeforeFirstCallParameter: 0
# PenaltyBreakComment: 300
# PenaltyBreakString: 1000
# PenaltyBreakFirstLessLess: 120
# PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 600
PointerAlignment: Left
# SpacesBeforeTrailingComments: 1
# Cpp11BracedListStyle: true
# Standard: Cpp11
IndentWidth: 4
TabWidth: 4
# UseTab: Never
BreakBeforeBraces: Linux
# SpacesInParentheses: false
# SpacesInAngles: false
# SpaceInEmptyParentheses: false
# SpacesInCStyleCastParentheses: false
# SpacesInContainerLiterals: true
# SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 8
CommentPragmas: '^ IWYU pragma:|.* \*      http://www.apache.org/licenses/LICENSE-2.0.*'
# ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH ]
# SpaceBeforeParens: ControlStatements
# DisableFormat: false
...

