target/
.classpath
.project
.settings/
.externalToolBuilders/
/gen
src/main/generated/
bounceproxy.build-.log
/java/messaging/messaging-service/logs
THIRD-PARTY.properties
*-build
.DS_Store
.idea/
*.iml

