.autosave
target/
.classpath
.project
.checkstyle
.settings/
.externalToolBuilders/
/gen
src/main/generated/
bounceproxy.build-.log
/java/messaging/messaging-service/logs
THIRD-PARTY.properties
/*-build*/
.DS_Store
.idea/
*.iml
logs/
examples/radio-app/gps-provider-joynr.properties
joynrpersistence/
derby.log
build/
javascript/joynr.properties
javascript/apps/radio/joynr.properties
java/core/clustercontroller-standalone/joynr.properties
node_modules
build-*/
!build-resources
generated-cpp
cpp/common/include/joynr/JoynrVersion.h
