userdirectorydb
.classpath
.project
.settings/
.nyc_output/
src/main/js/generated*
src/test/generated*
src/test/resources/localStorageStorage
src/test/resources/localStorageTestResults
src/main/js/joynr/buildSignature.js
src/main/browserify/joynr.bundle.js
capabilitiesdump/capabilities.json
joynr.properties
joynr_participantIds.properties
/target
derby.log
node_modules
