userdirectorydb
.classpath
.project
.settings/
src/main/js/generated*
src/test/generated*
capabilitiesdump/capabilities.json
joynr.properties
joynr_participantIds.properties
/target
derby.log
node_modules