target
.classpath
.project
.settings
gen
bin
src/main/generated*
capabilitiesdump
joynr.properties
joynr_capabilitiesdirectory.properties
joynr_persistedSubscriptionRequests
joynr_participantIds.properties
/logs
