target
.classpath
.project
.settings
.checkstyle
src/main/generated*
/joynr.properties
/joynr_participantIds.properties
/java-provider.persistence_file
/java-consumer.persistence_file
localStorageStorage/
