target
.classpath
.project
.settings
gen
bin
.checkstyle
src/main/generated*
CMakeLists.txt.user
/provider-joynr.properties
/joynr_participantIds.properties
/consumer-joynr.properties
/joynr.properties
/gps-consumer-joynr.properties
